*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
    --height: 70vh;
    --border: solid black;
}

body{
    border: var(--border);
}

header{
    border: var(--border);
    height: 2vw;
    text-align: right;

}

.container {
    border: var(--border);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    height: var(--height)
}

section {
    display:inline-block;
    border: var(--border);

}

#section01 {
width: 49%;
height: var(--height)

    
}

#section02 {
    width: 50%;
    justify-content: center;
    height: var(--height)
    
    
}


.display {
    display: block;
    width: 100%;
    margin: 5px;
    width: 90%;

}

#sumit{
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 40px;
}

#content {
    height: 50px;
 }

h1 {
    border-radius: 50%; 
    align-items: center;
    text-align: center;
    display: flex;
    background-color: rgb(145, 145, 7) ;
    height: 50%;
    width: 50%;
    justify-content: center;
    position: relative;
    left: 70px;
    top : 60px

 }

 h2 {
    text-align: center;
    

 }